@page
@model Undergraduate_thesis.O_namaModel
@{
    ViewData["Title"] = "O_nama";
}

    <div class="container">
        <hr />
        <div class="text-center">
            <h1 class="display-4">O nama</h1>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-8">
                <p style="font-size:25px; text-align:justify">
                    Swift Claw je gejming organizacija koja se služi da okupi što veći broj ljudi koji vole da se u slobodno
                    vreme bave igranjem video igara ili razmenjivanjem iskustava u njima. Isto tako je i cilj okupiti i ljude
                    koji vole da se druže razmenjuju različita iskustva koja su im se desila, festivale na kojima su bili da
                    li su učestvovali na nekim turnirima ili slično.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="https://s5.gifyu.com/images/logo9844754e8f83dfa4.png" height="250" width="250">
            </div>
        </div>
        <br />


        <div class="container text-center">
            <img src="https://s5.gifyu.com/images/onama.jpg" height="500" width="550" class="img-fluid">
            <p style="font-size: 40px"><em>Naša priča</em></p>
        </div>
      

        <div class="container">
            <p style="font-size:20px; text-align:justify">
                Swift Claw je gejming organizacija nastala 2017. godine. U početku je brojala 5 aktivnih članova. Kao takva organizacija napravljena zajednica na discord platformi koja služi za komunikaciju članova servera. Želja je bila da se napravi što veća
                zajednica koja će okupiti veliki broj ljudi koji voli da se bavi igranjem video igara, da se druže i ostvaruju. Došli smo do igre Paladins koja je veoma krucijalna za dalji zavitak zajednice koju danas poznajemo. Igra kao igra nije preterano
                popularna ali nama je bila jako zanimljiva za igru i zabavu. Polako smo počinjali da nailazimo na ljude sa naših prostora i pitali ih da li žele da nam se pridruže u širenju zajednice. Pristigao je veliki broj ljudi na server u brzom roku. Pošto
                do tada nismo poznavali jedni druge uživo došao je prvi Gamescon 2018e godine za koji smo se dogovorili da ko je u mogućnosti dođe da se družimo i upoznamo. Prošao je taj Gamescon a mi smo se vratili druženju i pričanju preko Discord-a. Ubrzo nakon
                Gamescon-a igrajući do tada najpopularniju igru na serveru dolazimo do velikog broja naših ljudi koji su zainteresovani za kreiranje tima u toj igri
            </p>
        </div>
    </div>



