
Undergraduate thesis/.vs/Undergraduate thesis/v16/Server/sqlite3/storage.ide-shm
Undergraduate thesis/.vs/Undergraduate thesis/v16/Server/sqlite3/storage.ide-wal
eCommerce website/.vs/eCommerce website/v16/Server/sqlite3/db.lock
