
@{
    ViewData["Title"] = "O nama";
}

    <div class="container">
       
        <div class="text-center" style="margin-top:95px;">
            <hr />
            <h1 style="font-size:2em">O nama</h1>
        </div>
        <hr />


        <div class="row">
            @*<div class="col-md-8">
                <p style="font-size:20px; text-align:justify">
                    Swift Claw je gejming organizacija koja se služi da okupi što veći broj ljudi koji vole da se u slobodno
                    vreme bave igranjem video igara ili razmenjivanjem iskustava u njima. Isto tako je i cilj okupiti i ljude
                    koji vole da se druže razmenjuju različita iskustva koja su im se desila, festivale na kojima su bili da
                    li su učestvovali na nekim turnirima ili slično.
                </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="https://s5.gifyu.com/images/logo9844754e8f83dfa4.png" height="250" width="250" class="img-fluid">
            </div>*@
            <div class="container">
                <img src="https://s1.gifyu.com/images/baner_about_usa97085e6a034bfeb.png"  class="img-fluid">
            </div>

        </div>
        <hr />
        <br />

        <!--Nasa prica-->
        <div class="square">
            <div><img src="https://s5.gifyu.com/images/onama.jpg" height="500" width="550" class="img-fluid" style="float:left; margin:10px; padding:0 20px 0 0"></div>

            <p style="font-size: 40px; text-align:center"><em>Naša priča</em></p>
            <p style="font-size:17px; text-align:justify">
                Swift Claw je gejming organizacija nastala 2017. godine. U početku se zvala drugačije i razmišljalo se da se ime promeni ali ime kao sadašnje je došlo tek u avgustu 2018. godine. Kao takva organizacija napravljena zajednica na discord platformi koja služi za komunikaciju članova servera. Želja je bila da se napravi što veća
                zajednica koja će okupiti veliki broj ljudi koji voli da se bavi igranjem video igara, da se druže i ostvaruju. Došli smo do igre Paladins koja je veoma krucijalna za dalji zavitak zajednice koju danas poznajemo. Igra kao igra nije preterano
                popularna ali nama je bila jako zanimljiva za igru i zabavu. Polako smo počinjali da nailazimo na ljude sa naših prostora i pitali ih da li žele da nam se pridruže u širenju zajednice. Pristigao je veliki broj ljudi na server u brzom roku. Pošto
                do tada nismo poznavali jedni druge uživo došao je prvi Gamescon 2018e godine za koji smo se dogovorili da ko je u mogućnosti dođe da se družimo i upoznamo. Prošao je taj Gamescon a mi smo se vratili druženju i pričanju preko Discord-a. Ubrzo nakon
                Gamescon-a igrajući do tada najpopularniju igru na serveru dolazimo do velikog broja naših ljudi koji su zainteresovani za kreiranje tima u toj igri kao i početak strimovanja na platformama Youtube i Twitch.
            </p>
            <br />
            <hr />
        </div>

        <br />


        <!--Youtube i twitch-->
        <div class="container text-center">
            <p style="font-size: 40px"><em>Youtube i Twitch</em></p>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="https://s5.gifyu.com/images/580b57fcd9996e24bc43c545.png" height="150" width="200" class="img-fluid">
            </div>
            <div class="col-md-8 text-center">
                <p style="font-size:17px; text-align:justify">
                    Želja za strimovanjem se pojavila kao jedna od snova kao nešto što volimo da radimo i da se družimo i zabavaljamo ljude oko sebe. Sa strimovima se krenulo u Januaru 2019. godine. Na Youtube-u je Lazar Andrić poznatiji
                    kao "unL4aky" a na Twitchu strimuju Nemanja Zagorac pod imenom "ne7_7_a" i Nikola Zagorac sa imenom "dzoN1o". Na početku smo svi bili saglasni da ovo pre svega radimo iz zabave i ljubavi prema ovome kao što je
                    i dan danas ostalo. Vremenom su ljudi dolazili javljali se i na strimovima kako bi došli i družili se sa nama.
                </p>
            </div>
            <div class="col-md-2 text-center">
                <img src="https://s5.gifyu.com/images/580b57fcd9996e24bc43c540.png" height="150" width="150" class="img-fluid">
            </div>

        </div>
        <br />
        <hr />

        <!--Danas-->
        <div class="container text-center">
            <p style="font-size: 40px"><em>Danas</em></p>
        </div>
        <div class="container">
            <p style="font-size:17px; text-align:justify">
                Danas u ovom trenutku se izdešavale svakakve stvari. Pre svega u avgustu 2019. godine smo proslavili godinu dana rođendana od kada se server zove pod imenom Swift Claw. Počeli smo da igramo i neke druge igre, strimovali
                smo turnire u sopstvenoj organizaciji, došli smo do 100 i više aktivnih korisnika na serveru, kreirali smo naše majice. Kada je bila proslava rodjendana tada smo proslavili i našeg 100og člana družili smo se na strimu
                upoznali neke nove ljude i igrače koji su tu i danas. Za majice su bili zainteresovani svi igrači, korisnici servera. Naravno mi smo ispunili želju svima koji su bili zainteresovani. Kasnije smo dobili ideje od drugih
                ljudi sa servera da bi smo mogli da kreiramo i druge stvari sa našim logom i imenom. Zaključno sa danasnjim danom imamo 152 člana na serveru koji su aktivni druže se i igraju, imamo preko 70 članova na Youtube-u a na Twitchu preko
                40, i dalje se družimo igramo zabaljvamo idemo na festivale kada smo u mogućnosti i pre svega širimo pozitivnu energiju.
            </p>
            
        </div>
    </div>

