
@{
    ViewData["Title"] = "O nama";
}

    <div class="container font-sajt" style="background-color:white">

        <div class="text-center" style="margin-top:95px;">
            <hr />
            <h1 style="font-size:2em">O nama</h1>
        </div>
        <hr />



        <div class="row">
            <div class="container">
                <img src="https://s1.gifyu.com/images/baner_about_usa97085e6a034bfeb.png" class="img-fluid">
            </div>

        </div>
        <hr />


        <!--Nasa prica-->
        <div class="container">
            <div class="col-md-3" style="font-size: 72px;font-family: Swiftclawfinal; color: #2E0D5F;">
                2017
            </div>
            <div class="col-md-6" style="font-size: 16px;text-align: justify">
                U Novembru 2017. godine na ideju o stvaranju jedne oraganizacije koja će okupiti što veći broj ljubitelja video igara dolaze 4 drugara Lazar "UnLa4ky" Andrić, Nemanja "ne77a" Zagorac, Aleksa "KOKI" Kostić i Nikola "dzoN1o" Zagorac.
            </div>
        </div>
        <hr />


        <div class="container">
            <div class="col-md-12" style="font-size: 48px;color: #2E0D5F;border-bottom: 10px solid;border-right: 10px solid;border-top: 10px solid;border-color: #2E0D5F; text-align:center; font-family:Swiftclawfinal">
                <p style="margin-top:2em; margin-bottom:2em;">PRVI SASTAV</p>
            </div>
        </div>

        <div class="container">
            <a class="lightbox" href="https://s8.gifyu.com/images/onamaf734f5d8386d6fca.png">
                <img src="https://s8.gifyu.com/images/onamaf734f5d8386d6fca.png" class="img-fluid">
            </a>
        </div>
        <hr />

        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-3" style="font-size: 72px;font-family: Swiftclawfinal; color: #2E0D5F; text-align:center">
                    2018
                </div>
                <div class="col-md-6" style="font-size: 16px; text-align:justify">
                    Prva polovina 2018-e godine prošla me mirno. U avgustu iste godine dolazi do velikih promena kada odlučujemo da promenimo ime. Bilo je raznih predloga ali onda Lazar predlaže da u imenu stoji Kandža, a Aleksa predlaže da to bude brza
                    i tako dolazimo do današnjeg imena prevedeno na engleski "Swift Claw".
                </div>
            </div><br />
            <div class="row">   
                <div class="container">
                    <h2 style="text-align:center">Paladins tim</h2>
                </div>                    
                    <img style="text-align:center; width:100%" src="https://s8.gifyu.com/images/FA5FFB.png" class="img-fluid"><br />
                    <div class="col-md-6 offset-md-3" style="font-size: 16px; text-align:justify">
                        Od samog početka se na našem Diskord kanalu igrala video igra Paladins. Pred kraj iste godine na kanal dolazi veliki broj ljudi sa našeg prostora koji su bili zainteresovani za
                        druženje i igranje iste igre. U novembru mesecu tako nastaju dva sastava za tim i kreću pripreme za turnire.
                    </div>                
            </div>
        </div>
        <hr />

        <div class="container">
            <div class="row">
                <div class="col-md-3" style="font-size: 72px;font-family: Swiftclawfinal; color: #2E0D5F;">
                    2019
                </div>
                <div class="col-md-6" style="font-size: 16px;text-align: justify">
                    9. Januar 2019-e godine je označio početak pojavljivanja organizacije na platformama Youtube i Twitch. Kao i tada i danas strimovanjem se bavimo isljučivo radi zabave i okupljanja što većeg broja ljudi koji su zainteresovani
                    za druženje i igranje video igara. Na početku smo strimovali samo Paladins ali kasnije kako je dolazio sve veći broj ljudi koji su igrali i druge igre počeli smo da strimujemo i njih kao i da objavljujemo video kontent o našim
                    omiljenim igrama.
                </div>
            </div><br />
            <div class="row">
                <div class="container">
                    <img style="text-align:center; width:100%" src="https://s8.gifyu.com/images/baner732a66b4de40fa9e.png" class="img-fluid">
                </div>
                <div class="col-md-6 text-center">
                    <a href="https://www.youtube.com/channel/UCteDbLO-9Uz2YmlfNEwaSfg">
                        <img src="https://s8.gifyu.com/images/3dgifmaker61222.gif" class="img-fluid">
                    </a>
                </div>
                <div class="col-md-6 text-center">
                    <a href="https://www.twitch.tv/swiftclawgaming">
                        <img src="https://s8.gifyu.com/images/3dgifmaker22117.gif" class="img-fluid">
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 offset-md-3" style="font-size: 16px;text-align: justify">U nastavku 2019-e godine preciznije u maju mesecu je organizovan kratak turnir "Kings of Claws" izmedju članova servera i protekao u veoma dobroj organizaciji.</div>
                <div class="container">
                    <img style="text-align:center; width:100%" src="https://s8.gifyu.com/images/Screenshot_469d4095db7441af7.png" class="img-fluid">
                </div>
            </div><br />
            @*<div class="row">
                <div class="col-md-6 offset-md-3" style="font-size: 16px;">22. Avgusta</div>
            </div>*@
        </div>
        <hr />

        <div class="container">
            <div class="col-md-3" style="font-size: 72px;font-family: Swiftclawfinal; color: #2E0D5F;">
                2020
            </div>
            <div class="col-md-9">

            </div>
        </div>
        <hr />



        @*Youtube i twitch
        <div class="container text-center">
            <p style="font-size: 40px"><em>Youtube i Twitch</em></p>
        </div>
        <div class="row">
            <div class="col-md-2 text-center">
                <img src="https://s5.gifyu.com/images/580b57fcd9996e24bc43c545.png" height="150" width="200" class="img-fluid">
            </div>
            <div class="col-md-8 text-center">
                <p style="font-size:17px; text-align:justify">
                    Želja za strimovanjem se pojavila kao jedna od snova kao nešto što volimo da radimo i da se družimo i zabavaljamo ljude oko sebe. Sa strimovima se krenulo u Januaru 2019. godine. Na Youtube-u je Lazar Andrić poznatiji
                    kao "unL4aky" a na Twitchu strimuju Nemanja Zagorac pod imenom "ne7_7_a" i Nikola Zagorac sa imenom "dzoN1o". Na početku smo svi bili saglasni da ovo pre svega radimo iz zabave i ljubavi prema ovome kao što je
                    i dan danas ostalo. Vremenom su ljudi dolazili javljali se i na strimovima kako bi došli i družili se sa nama.
                </p>
            </div>
            <div class="col-md-2 text-center">
                <img src="https://s5.gifyu.com/images/580b57fcd9996e24bc43c540.png" height="150" width="150" class="img-fluid">
            </div>

        </div>
        <br />
        <hr />

        Danas
        <div class="container text-center">
            <p style="font-size: 40px"><em>Danas</em></p>
        </div>
        <div class="container">
            <p style="font-size:17px; text-align:justify">
                Danas u ovom trenutku se izdešavale svakakve stvari. Pre svega u avgustu 2019. godine smo proslavili godinu dana rođendana od kada se server zove pod imenom Swift Claw. Počeli smo da igramo i neke druge igre, strimovali
                smo turnire u sopstvenoj organizaciji, došli smo do 100 i više aktivnih korisnika na serveru, kreirali smo naše majice. Kada je bila proslava rodjendana tada smo proslavili i našeg 100og člana družili smo se na strimu
                upoznali neke nove ljude i igrače koji su tu i danas. Za majice su bili zainteresovani svi igrači, korisnici servera. Naravno mi smo ispunili želju svima koji su bili zainteresovani. Kasnije smo dobili ideje od drugih
                ljudi sa servera da bi smo mogli da kreiramo i druge stvari sa našim logom i imenom. Zaključno sa danasnjim danom imamo 152 člana na serveru koji su aktivni druže se i igraju, imamo preko 70 članova na Youtube-u a na Twitchu preko
                40, i dalje se družimo igramo zabaljvamo idemo na festivale kada smo u mogućnosti i pre svega širimo pozitivnu energiju.
            </p>

        </div>*@













    </div>

