
@{
    ViewData["Title"] = "Kontakt";
}

<div class="container">

    <div class="text-center" style="margin-top:95px;">
        <hr />
        <h1 class="display-4">Kontakt</h1>
    </div>
    <hr />
</div>


<!--<div class="container">
     <div class="row">
         <div class="col-md-6">
             <form>
                 <div class="form-group">
                     <label for="exampleInputName1">Ime i prezime</label>
                     <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Unesite Vaše ime i prezime">
                 </div>
                 <div class="form-group">
                     <label for="exampleInputEmail1">Email adresa</label>
                     <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Unesite Vašu e-mail adresu">
                 </div>
                 <div class="form-group">
                     <label for="exampleInputPhone1">Telefon</label>
                     <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Unesite Vaš broj telefona">
                 </div>
                 <div class="form-group">
                     <label for="exampleInputSubject1">Naslov poruke</label>
                     <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Unesite naslov Vaše poruke">
                 </div>
                 <div class="form-group">
                     <label for="exampleInputSubject1">Poruka</label>
                     <textarea class="form-control" rows="3"></textarea>
                 </div>
                 <button type="submit" class="btn btn-light" style="background-color:#200843;color:white;">Pošalji</button>
             </form>
         </div>
             <div class="col-md-6">
                 <ul class="list-unstyled">
                     <li><i class="fa fa-map-marker" area-hidden="true"></i>Adresa: <span class="pull-right">Vojvode Stepe 283, Voždovac </span></li>
                     <li><i class="fa fa-phone" area-hidden="true"></i>Telefon:  <span class="pull-right"><a href="tel:+11-1234-777">011/1234-777</a></span></li>
                     <li><i class="fa fa-envelope-o" area-hidden="true"></i>E-mail:  <span class="pull-right"><a href="mailto:office@viser.edu.rs">office@viser.edu.rs</a></span></li>
                 </ul>
                 <div class="map-responsive">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.0746545482552!2d20.36363661575046!3d44.79966718555747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a6f138eb39ecd%3A0x6eaccc36d67afd17!2sMileve%20Mari%C4%87%20Ajn%C5%A1tajn%2040%2C%20Beograd!5e0!3m2!1ssr!2srs!4v1592673000699!5m2!1ssr!2srs" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
                 </div>
             </div>

     </div>

 </div>-->

<div class="container">
    <div class="row">
        <div class="col-md-6 my-5">
            <form class="forma">
                <div class="form-group">
                    <label for="exampleInputName1">Ime i prezime</label>
                    <input type="text"  class="form-control"  id="exampleInputEmail1" placeholder="Unesite Vaše ime i prezime" >
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email adresa</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" placeholder="Unesite Vašu e-mail adresu">
                </div>
                <div class="form-group">
                    <label for="exampleInputPhone1">Telefon</label>
                    <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Unesite Vaš broj telefona">
                </div>
                <div class="form-group">
                    <label for="exampleInputSubject1">Naslov poruke</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Unesite naslov Vaše poruke">
                </div>
                <div class="form-group">
                    <label for="exampleInputSubject1">Poruka</label>
                    <textarea class="form-control" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-light" style="background-color:#200843;color:white;">Pošalji</button>
            </form>
        </div>
        <div class="col-md-6 my-5">
            <ul class="list-unstyled">
                <li><i class="fa fa-map-marker" area-hidden="true"></i>Adresa: <span class="pull-right">Vojvode Stepe 283, Voždovac </span></li>
                <li><i class="fa fa-phone" area-hidden="true"></i>Telefon:  <span class="pull-right"><a href="tel:+11-1234-777">011/1234-777</a></span></li>
                <li><i class="fa fa-envelope-o" area-hidden="true"></i>E-mail:  <span class="pull-right"><a href="mailto:office@viser.edu.rs">office@viser.edu.rs</a></span></li>
            </ul>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2831.0746545482552!2d20.36363661575046!3d44.79966718555747!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a6f138eb39ecd%3A0x6eaccc36d67afd17!2sMileve%20Mari%C4%87%20Ajn%C5%A1tajn%2040%2C%20Beograd!5e0!3m2!1ssr!2srs!4v1592673000699!5m2!1ssr!2srs" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mapa"></iframe>

        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 my-5">
            <h3 class="display-5 naslovi">Ko smo mi?</h3>
            <br>
            <p class="oNama">
                Art company & design je firma koja se bavi prometom roba na veliko i malo, kao i izvođenjem završnih radova u građevinarstvu. U ponudi imamo veliki izbor boja
                i lakova, fasadnih sistema, sistema suve gradnje, stiropora i stirodura, hidroizolacije, a poseban akcenat stavljamo na dekorativne tehnike iz MaxiDecor programa koje možete
                videti u našem show room-u. Pored toga nudimo veliki izbor tapeta koje možete pogledati u prijatnom ambijentu našeg show room-a kao i veliki izbor alata za molerajsko-farbarske radove.
            </p>
        </div>
        <div class="col-md-6">
            <p class="oNama my-5">
                Ono što nas izdvaja od drugih je to što se naša firma pored prodaje bavi i dizajniranjem enterijera i izvođenjem zanatskih radova (gipsarski,
                molerski, parketarski i ostali radovi). Art company & design takođe poseduje dostavna vozila i robu kupljenu kod nas dostavaljamo na željenu adresu. Konstantno sticanje
                novih znanja , kao i usavršavanje stečenih, odlike su tima Art company & design-a.
            </p>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1443.5968144240423!2d20.408169639825378!3d44.77805153513882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475a6fccf802a49d%3A0xa935c4a94689b5be!2z0KDQsNC00L3QuNGH0LrQsCA2Mywg0JHQtdC-0LPRgNCw0LQ!5e0!3m2!1ssr!2srs!4v1595939259281!5m2!1ssr!2srs" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0" class="mapa"></iframe>
        </div>
    </div>
</div>


    



