@using ASP.NET_Core.APIComunication
@using Nancy.Json;
@{
    ViewData["Title"] = "Šop";
}

<div class="container">
    <div class="text-center" style="margin-top:95px;">
        <hr />
        <h1 style="font-size:2em">Šop</h1>
    </div>
    <hr />
</div>

<br />
<div class="container">
    <div class="row">

        <div class="col-md-3">

            <br />
            <section class="mb-4">
                <div class="md-form md-outline mt-0 d-flex justify-content-between align-items-center">
                    @*<input class="form-control" type="search" onkeyup="myFunction()" placeholder="Pretraga" id="search" aria-label="search">*@
                    @*<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-unique btn-rounded btn-sm my-0" type="submit">Search</button>*@

                    <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                        <input type="text" placeholder="Search.." name="search2">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </form>
                </div>
            </section>





            <!--NOVI PADAJUCI MENI-->
            <section>
                <div id="accordion">
                    <div class="card">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">

                            <h5 class="mb-0" style="text-align:center; color:black">

                                SORT

                            </h5>

                        </button>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body" style="color:black">
                                <section class="filters">

                                    <!-- Section: Condition -->
                                    <section filter="condition" class="mb-4">
                                        <h6 class="font-weight-bold mb-3 filter-text"></h6>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="radio">
                                            <label for="male">Najeftiniji</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="radio">
                                            <label for="male">Najskuplji</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="radio">
                                            <label for="male">A-Z</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3 pb-1">
                                            <input type="radio">
                                            <label for="male">Z-A</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3 pb-1">
                                            <input type="radio">
                                            <label for="male">Najnoviji</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3 pb-1">
                                            <input type="radio">
                                            <label for="male">Popust</label><br>
                                        </div>
                                    </section>
                                </section>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="card">
                        <button class="btn collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">

                            <h5 class="mb-0" style="text-align:center; color:black">

                                FILTER

                            </h5>

                        </button>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body" style="color:black">
                                <section class="filters">

                                    <!-- Section: Condition -->


                                    <section class="mb-4">
                                        <h6 class="font-weight-bold mb-3" style="text-align:center">Cena</h6>
                                        <div class="slider-price d-flex align-items-center my-4">
                                            <div class="price-slider">
                                                <div class="row">
                                                    <span>
                                                        od
                                                        <input type="number" value="0" min="0" max="3700" />    do
                                                        <input type="number" value="4000" min="0" max="4000" />
                                                    </span>
                                                </div>
                                                <input value="0" min="0" max="3700" step="300" type="range" />
                                                <input value="4001" min="0" max="4000" step="100" type="range" />
                                                <svg width="100%" height="24">
                                                    <line x1="4" y1="0" x2="300" y2="0" stroke="#212121" stroke-width="12" stroke-dasharray="1 28"></line>
                                                </svg>
                                            </div>
                                        </div>
                                    </section>
                                    <hr />

                                    <section filter="condition" class="mb-4">
                                        <h6 class="font-weight-bold mb-3 filter-text">Kategorije</h6>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="checkbox">
                                            <label for="male">Majice</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="checkbox">
                                            <label for="male">Duksevi</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="checkbox">
                                            <label for="male">Kape</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3 pb-1">
                                            <input type="checkbox">
                                            <label for="male">Rancevi</label><br>
                                        </div>
                                    </section>
                                    <hr />
                                    <!-- Section: Size -->
                                    <section class="mb-4" filter="size">
                                        <h6 class="font-weight-bold mb-3 filter-text">Veličina</h6>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="radio" value="option1" name="radiobutton">
                                            <label for="male">XS</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="radio" value="option2" name="radiobutton">
                                            <label for="male">S</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="radio" value="option3" name="radiobutton">
                                            <label for="male">M</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="radio" value="option4" name="radiobutton">
                                            <label for="male">L</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="radio" value="option5" name="radiobutton">
                                            <label for="male">XL</label><br>
                                        </div>
                                    </section>
                                    <hr />
                                    <!-- Section: Size -->
                                    <!-- Section: Gender -->
                                    <section class="mb-4" filter="size">
                                        <h6 class="font-weight-bold mb-3 filter-text">Pol</h6>

                                        <div class="form-check pl-0 mb-3">
                                            <input type="radio">
                                            <label for="male">M</label><br>
                                        </div>
                                        <div class="form-check pl-0 mb-3">
                                            <input type="radio">
                                            <label for="male">Ž</label><br>
                                        </div>
                                    </section>
                                    <!-- Section: Gender -->
                                </section>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
        </div>
        @{
            var jsonString = APIClient.SetAPIClient();
            JavaScriptSerializer javaScriptSerializer = new JavaScriptSerializer();
            var items = javaScriptSerializer.Deserialize<List<Product>>(jsonString);
        }
        <div class="col-md-9">
            <div class="card-deck" id="cardDeck">
                <div class="row">
                    <div class="container">
                        @foreach (var item in items)
                        {
                            <div class="col-md-4 card-space ">
                                <div class="flip-box">
                                    <div class="flip-box-inner">
                                        <div class="flip-box-front">
                                            <img class="card-img-top" src="@item.ImgUrl" alt="Card image cap">
                                            <div class="card-body mt-4 mr-1">
                                                <h4 class="card-title"><a style="color:white">@item.Name</a></h4>
                                                <div class="dropdown-divider"></div>
                                                <p class="card-text" style="color:white">Price: @item.Price</p>
                                            </div>
                                        </div>
                                        <a asp-action="Product">
                                            <div class="flip-box-back" style="font-size: 30px; font-family: Impact;"> <br /><br /><br /><br />KUPI ODMAH!</div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            @for (int i = 0; i < 10; i++)
            {
                if (i < 3)
                {
                    <a type="button" asp-action="Shop">@i</a>
                }

            }
            <a>....</a><a type="button" asp-action="Shop">10</a>
        </div>
        @{
        }

    </div>


    </div>





    <!--<div class="layout-margin-8 mt-4">
        <div class="container">
            <div class="col-md-2">

            </div>
            <div class="col-md-10">

            </div>
        </div>
    </div>-->
