
@{
    ViewData["Title"] = "Shop";
}

    <div class="container">
        <hr />
        <div class="text-center">
            <h1 class="display-4">Šop</h1>
        </div>
        <hr />
    </div>

<input class="form-control form-control-lg mr-auto ml-auto" type="search" placeholder="Type a name" aria-label="Search" id="search">

<div class="layout-margin-8 mt-4">
    <div class="card-deck">
        <div class="card card-shadow text-center" style="background-color: #200843; ">
            <img class="card-img-top" src="https://s6.gifyu.com/images/IMG_20191207_112344.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title" style="color:white">Majica swiftclaw</h4>            
                <div class="dropdown-divider"></div>                
                <p class="card-text" style="color:white">Price: $0.5</p>
                <a href="#" data-name="Majica_swiftclaw" data-price="0.5" class="add-to-cart btn btn-primary">Add to cart</a>
            </div>
        </div>
        <div class="card card-shadow text-center" style="background-color: #200843; ">
            <img class="card-img-top" src="https://s6.gifyu.com/images/IMG_20191207_112344.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title" style="color:white">Duks swiftclaw</h4>
                <div class="dropdown-divider"></div>
                <p class="card-text" style="color:white">Price: $1</p>
                <a href="#" data-name="Duks_swiftclaw" data-price="1" class="add-to-cart btn btn-primary">Add to cart</a>
            </div>
        </div>        
    </div>
</div>

<div class="layout-margin-8 mt-4">
    <div class="card-deck">
        <div class="card card-shadow text-center">
            <img class="card-img-top" src="https://s6.gifyu.com/images/IMG_20191207_112344.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Rob Doe</h4>
                <p class="card-text">UX Designer</p>
                <div class="dropdown-divider"></div>
                <p class="card-text"><small class="text-muted">Team A</small></p>
            </div>
        </div>
        <div class="card card-shadow text-center">
            <img class="card-img-top" src="https://s6.gifyu.com/images/IMG_20191207_112344.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Scott Doe</h4>
                <p class="card-text">UX Designer</p>
                <div class="dropdown-divider"></div>
                <p class="card-text"><small class="text-muted">Team B</small></p>
            </div>
        </div>
    </div>
</div>

