<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="https://s5.gifyu.com/images/logo72fbcc5f4776d2a4.png" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/v4-shims.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">

</head>
<body>



    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark fixed-top font-sajt" style="border-radius:0;">
            <div class="container" style="text-align:center">
                <a class="nav-item zoom1" asp-controller="Home" asp-action="Index" style="margin-right: 1em; text-align:center">
                    <img src="https://s5.gifyu.com/images/logo9844754e8f83dfa4.png" alt="logo" width="50" height="50" class="img-fluid">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse ">
                    <i class="fa fa-shopping-cart fa-2x iconcart zoom" aria-hidden="true" type="button" data-toggle="modal" data-target="#cart">(<span class="total-count"></span>)</i>
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1 ">
                        <li class="nav-item">
                            <a class="nav-link text-light navigacijaboja zoom" asp-area="" asp-controller="Home" asp-action="Index">Početna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navigacijaboja zoom" asp-area="" asp-controller="Home" asp-action="About_Us">O nama</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navigacijaboja zoom" asp-area="" asp-controller="Home" asp-action="Shop">Šop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navigacijaboja zoom" asp-area="" asp-controller="Home" asp-action="Gallery">Galerija</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navigacijaboja zoom" asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>




    @*KORPA*@
    <div class="modal fade" id="cart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog " role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Korpa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row justify-content-center">
                        <table class="show-cart table-responsive text-nowrap center" align="center"></table>
                        Total price: <span class="total-cart"></span> din
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form asp-controller="Account" asp-action="Order" method="get">
                        <input type="submit" class="btn btn-primary" value="Poruci" />
                    </form>
                </div>
            </div>
        </div>
    </div>







    <main role="main" class="font-sajt">
        @RenderBody()
    </main>









    <footer class="page-footer font-small stylish-color-dark pt-4 font-sajt" style="background-color: #343A40;color: white;">
        <div class="container text-center text-md-left">
            <div class="row">
                <div class="col-md-3 mx-auto text-center zoom2">
                    <img src="https://s5.gifyu.com/images/logo9844754e8f83dfa4.png" alt="logo" height="250" width="250" class="img-fluid">
                </div>
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="text-align:center">Swift Claw</h5>
                    <p>
                        Zvaničan sajt i šop orzanizacije Swift Claw. Pridružite se što pre i nabavite neki artikal
                        kako bi ste što pre bili upućeni u dešavanja i novosti.
                    </p>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <h5 class="mb-1" style="text-align:center">Pratite nas</h5><br />
                    <
                    ul class="list-unstyled list-inline text-center">
                        <li class="list-inline-item">
                            <a class="btn-floating btn-fb mx-1" href="https://www.youtube.com/channel/UCteDbLO-9Uz2YmlfNEwaSfg" style="color:white;">
                                <i class="fa fa-youtube-play iconyt zoom1" aria-hidden="true" style="font-size:36px"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-tw mx-1" href="https://www.twitch.tv/swiftclawgaming" style="color:white">
                                <i class="fa fa-twitch icontwitch zoom1" aria-hidden="true" style="font-size:36px"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-gplus mx-1" href="https://instagram.com/swift_claw?igshid=xg7ltrvdv5z1" style="color:white">
                                <i class="fa fa-instagram iconinsta zoom1" aria-hidden="true" style="font-size:36px"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-li mx-1" href="https://steamcommunity.com/groups/swiftclawgaminggg" style="color:white">
                                <i class="fa fa-steam iconsteam zoom1" aria-hidden="true" style="font-size:36px"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="btn-floating btn-li mx-1" href="https://discord.gg/KuJj9t8" style="color:white">
                                <i class="fab fa-discord icondiscord zoom1" aria-hidden="true" style="font-size:36px"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <div class="col-md-3 mx-auto">
                    <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="text-align:center">Linkovi</h5>
                    <ul class="list-unstyled  text-center">
                        <li class="nav-item">
                            <a class="nav-link text-light navigacijaboja zoom" asp-area="" asp-controller="Home" asp-action="Index">Početna</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navigacijaboja zoom" asp-area="" asp-controller="Home" asp-action="About_Us">O nama</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navigacijaboja zoom" asp-area="" asp-controller="Home" asp-action="Shop">Šop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navigacijaboja zoom" asp-area="" asp-controller="Home" asp-action="Gallery">Galerija</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navigacijaboja zoom" asp-area="" asp-controller="Home" asp-action="Contact">Kontakt</a>
                        </li>
                    </ul>
                </div>
                <hr class="clearfix w-100 d-md-none">
                <hr class="clearfix w-100 d-md-none">
            </div>
        </div>
        <hr>
        <div class="footer-copyright text-center py-3">
            © 2020 Copyright: Lazar Andrić - Nemanja Zagorac
        </div>
    </footer>








    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>



    @RenderSection("Scripts", required: false)

    <!--GALERIJA-->
    <script>
        baguetteBox.run('.tz-gallery');
    </script>
   

    <!--MODAL SHOP-->
    <script>
        var shoppingCart = (function () {
            // =============================
            // Private methods and propeties
            // =============================
            cart = [];

            // Constructor
            function Item(name, price, count) {
                this.name = name;
                this.price = price;
                this.count = count;
            }

            // Save cart
            function saveCart() {
                sessionStorage.setItem('shoppingCart', JSON.stringify(cart));
            }

            // Load cart
            function loadCart() {
                cart = JSON.parse(sessionStorage.getItem('shoppingCart'));
            }
            if (sessionStorage.getItem("shoppingCart") != null) {
                loadCart();
            }


            // =============================
            // Public methods and propeties
            // =============================
            var obj = {};

            // Add to cart
            obj.addItemToCart = function (name, price, count) {
                for (var item in cart) {
                    if (cart[item].name === name) {
                        cart[item].count++;
                        saveCart();
                        return;
                    }
                }
                var item = new Item(name, price, count);
                cart.push(item);
                saveCart();
            }
            // Set count from item
            obj.setCountForItem = function (name, count) {
                for (var i in cart) {
                    if (cart[i].name === name) {
                        cart[i].count = count;
                        break;
                    }
                }
            };
            // Remove item from cart
            obj.removeItemFromCart = function (name) {
                for (var item in cart) {
                    if (cart[item].name === name) {
                        cart[item].count--;
                        if (cart[item].count === 0) {
                            cart.splice(item, 1);
                        }
                        break;
                    }
                }
                saveCart();
            }

            // Remove all items from cart
            obj.removeItemFromCartAll = function (name) {
                for (var item in cart) {
                    if (cart[item].name === name) {
                        cart.splice(item, 1);
                        break;
                    }
                }
                saveCart();
            }

            // Clear cart
            obj.clearCart = function () {
                cart = [];
                saveCart();
            }

            // Count cart
            obj.totalCount = function () {
                var totalCount = 0;
                for (var item in cart) {
                    totalCount += cart[item].count;
                }
                return totalCount;
            }

            // Total cart
            obj.totalCart = function () {
                var totalCart = 0;
                for (var item in cart) {
                    totalCart += cart[item].price * cart[item].count;
                }
                return Number(totalCart.toFixed(2));
            }

            // List cart
            obj.listCart = function () {
                var cartCopy = [];
                for (i in cart) {
                    item = cart[i];
                    itemCopy = {};
                    for (p in item) {
                        itemCopy[p] = item[p];

                    }
                    itemCopy.total = Number(item.price * item.count).toFixed(2);
                    cartCopy.push(itemCopy)
                }
                return cartCopy;
            }

            // cart : Array
            // Item : Object/Class
            // addItemToCart : Function
            // removeItemFromCart : Function
            // removeItemFromCartAll : Function
            // clearCart : Function
            // countCart : Function
            // totalCart : Function
            // listCart : Function
            // saveCart : Function
            // loadCart : Function
            return obj;
        })();


        // *****************************************
        // Triggers / Events
        // *****************************************
        // Add item
        $('.add-to-cart').click(function (event) {
            event.preventDefault();
            var name = $(this).data('name');
            var price = Number($(this).data('price'));
            shoppingCart.addItemToCart(name, price, 1);
            displayCart();
        });

        // Clear items
        $('.clear-cart').click(function () {
            shoppingCart.clearCart();
            displayCart();
        });


        function displayCart() {
            var cartArray = shoppingCart.listCart();
            var output = "";
            for (var i in cartArray) {
                output +=
                    "<tr>"
                    + "<td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" + cartArray[i].name + "</td>"
                    + "<td>(" + cartArray[i].price + ")</td>"
                    + "<td><div class='input-group'><button class='minus-item input-group-addon btn btn-primary' style='margin-left:2%;' data-name=" + cartArray[i].name + ">-</button>"
                    + "<input type='number' class='item-count form-controll' style='margin-left:2%;' data-name='" + cartArray[i].name + "' value='" + cartArray[i].count + "'>"
                    + "<button class='plus-item btn btn-primary input-group-addon' style='margin-left:2%;' data-name=" + cartArray[i].name + ">+</button>"
                    + "<button class='delete-item btn btn-danger' style='margin-left:2%;'data-name=" + cartArray[i].name + ">X</button>&nbsp;&nbsp;&nbsp;&nbsp;"
                    + cartArray[i].total + "</div></td>"
                    + "</tr>";
            }
            $('.show-cart').html(output);
            $('.total-cart').html(shoppingCart.totalCart());
            $('.total-count').html(shoppingCart.totalCount());
        }

        // Delete item button

        $('.show-cart').on("click", ".delete-item", function (event) {
            var name = $(this).data('name')
            shoppingCart.removeItemFromCartAll(name);
            displayCart();
        })


        // -1
        $('.show-cart').on("click", ".minus-item", function (event) {
            var name = $(this).data('name')
            shoppingCart.removeItemFromCart(name);
            displayCart();
        })
        // +1
        $('.show-cart').on("click", ".plus-item", function (event) {
            var name = $(this).data('name')
            shoppingCart.addItemToCart(name);
            displayCart();
        })

        // Item count input
        $('.show-cart').on("change", ".item-count", function (event) {
            var name = $(this).data('name');
            var count = Number($(this).val());
            shoppingCart.setCountForItem(name, count);
            displayCart();
        });

        displayCart();
    </script>

    <script>
        var inputLeft = document.getElementById("input-left");
        var inputRight = document.getElementById("input-right");

        var thumbLeft = document.querySelector(".slider > .thumb.left");
        var thumbRight = document.querySelector(".slider > .thumb.right");
        var range = document.querySelector(".slider > .range");

        function setLeftValue() {
            var _this = inputLeft,
                min = parseInt(_this.min),
                max = parseInt(_this.max);

            _this.value = Math.min(parseInt(_this.value), parseInt(inputRight.value) - 1);

            var percent = ((_this.value - min) / (max - min)) * 100;

            thumbLeft.style.left = percent + "%";
            range.style.left = percent + "%";
        }
        setLeftValue();

        function setRightValue() {
            var _this = inputRight,
                min = parseInt(_this.min),
                max = parseInt(_this.max);

            _this.value = Math.max(parseInt(_this.value), parseInt(inputLeft.value) + 1);

            var percent = ((_this.value - min) / (max - min)) * 100;

            thumbRight.style.right = (100 - percent) + "%";
            range.style.right = (100 - percent) + "%";
        }
        setRightValue();

        inputLeft.addEventListener("input", setLeftValue);
        inputRight.addEventListener("input", setRightValue);

        inputLeft.addEventListener("mouseover", function () {
            thumbLeft.classList.add("hover");
        });
        inputLeft.addEventListener("mouseout", function () {
            thumbLeft.classList.remove("hover");
        });
        inputLeft.addEventListener("mousedown", function () {
            thumbLeft.classList.add("active");
        });
        inputLeft.addEventListener("mouseup", function () {
            thumbLeft.classList.remove("active");
        });

        inputRight.addEventListener("mouseover", function () {
            thumbRight.classList.add("hover");
        });
        inputRight.addEventListener("mouseout", function () {
            thumbRight.classList.remove("hover");
        });
        inputRight.addEventListener("mousedown", function () {
            thumbRight.classList.add("active");
        });
        inputRight.addEventListener("mouseup", function () {
            thumbRight.classList.remove("active");
        });
    </script>

    <script>
        (function () {

            var parent = document.querySelector(".price-slider");
            if (!parent) return;

            var
                rangeS = parent.querySelectorAll("input[type=range]"),
                numberS = parent.querySelectorAll("input[type=number]");

            rangeS.forEach(function (el) {
                el.oninput = function () {
                    var slide1 = parseFloat(rangeS[0].value),
                        slide2 = parseFloat(rangeS[1].value);

                    if (slide1 > slide2) {
                        [slide1, slide2] = [slide2, slide1];
                    }

                    numberS[0].value = slide1;
                    numberS[1].value = slide2;
                }
            });

            numberS.forEach(function (el) {
                el.oninput = function () {
                    var number1 = parseFloat(numberS[0].value),
                        number2 = parseFloat(numberS[1].value);

                    if (number1 > number2) {
                        var tmp = number1;
                        numberS[0].value = number2;
                        numberS[1].value = tmp;
                    }

                    rangeS[0].value = number1;
                    rangeS[1].value = number2;

                }
            });

        })();
    </script>

    <script>

        if (document.getElementById('radio1').checked) {
        } else if (document.getElementById('radio2').checked) {
        }
        else if (document.getElementById('radio3').checked) {
        }
        else if (document.getElementById('radio4').checked) {
        }
        else if (document.getElementById('radio5').checked) {
        }
        else {
            alert("You must select a button");
            return false;
        }
    </script>

    <script>
        $(document).ready(function () {
            $('.dropdown-submenu a.test').on("click", function (e) {
                $(this).next('ul').toggle();
                e.stopPropagation();
                e.preventDefault();
            });
        });
    </script>

    <!--TACKICE DA SE NE VIDI PASSWORD-->
    <script>
        function myPassword() {
            var x = document.getElementById("myInput");
            if (x.type === "password") {
                x.type = "text";
            } else {
                x.type = "password";
            }
        }
    </script>


    <script>
        $('#accept').click(function () {
            if ($('#submitbtn').is(':disabled')) {
                $('#submitbtn').removeAttr('disabled');
            } else {
                $('#submitbtn').attr('disabled', 'disabled');
            }
        });
    </script>

    

</body>
</html>
