@using ASP.NET_Core.APIComunication;
@using System.Net.Http;
@using Microsoft.AspNetCore.Http;
<ul class="navbar-nav">
    @{
        bool isValidate;
        var result = APIClient.SetAPIClient("User/Validate", APIClient.Token, APIClient.Token, HttpMethod.Get);
        if (result != null)
            isValidate = true;
        else
        {
            isValidate = false;
        }
    }
    @if (isValidate)
    {
        <li class="nav-item">
            <form method="post">
                @*<button class="nav-link text-light" type="submit" asp-controller="Account" asp-action="Profile" title="Manage">Profil</button>*@
                <a class="nav-link text-light zoom" asp-area="" asp-controller="Account" asp-action="Profile" title="Manage"><i class="fa fa-user fa-2x iconlogin "></i></a>
            </form>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="LogOut">
                <button type="submit" class="nav-link btn btn-link text-light zoom"><i class="fa fa-sign-out fa-2x iconlogout"></i></button>               
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-light zoom" asp-area="" asp-controller="Account" asp-action="Register"><i class="fa fa-sign-in fa-2x iconregister"></i></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light zoom" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-user fa-2x iconlogin "></i></a>
        </li>
    }
</ul>