@model FilterForPriceSearchDto
@using ASP.NET_Core.APIComunication
@using System.Net.Http;
@using Nancy.Json;
@{
    var response = APIClient.SetAPIClient("Shop/Filter/Create", HttpMethod.Get);
    JavaScriptSerializer javaScriptSerializer = new JavaScriptSerializer();
    var itemsShop = javaScriptSerializer.Deserialize<FiltersReadDto>(response);
}


<div>
    @*<a asp-action="Index">Back to List</a>*@
</div>




