@model LoginUserModel

@{
    ViewData["Title"] = "Login";
}

<div class="container font-sajt" style="background-color:white">

    <div class="text-center" style="margin-top:95px;">
        <hr />
        <h1 style="font-size:2em">Logovanje</h1>
    </div>
    <hr />
    <br />
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <form asp-controller="Account" asp-action="Login" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label">E-mail</label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label">Šifra</label>
                        <input asp-for="Password" class="form-control" type="password" value="" id="myInput" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                        <input type="checkbox" onclick="myPassword()">Prikaži šifru
                    </div>
                    <div>
                        <label class="text-danger">@ViewData["LoginMessage"]</label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Potvrdi" class="btn btn-primary" />
                    </div>
                    <div class="form-group">
                        @*<p>
                            <a  data-toggle="modal" data-target="#exampleModal" href="#exampleModal">Zaboravljena lozinka?</a>
                        </p>*@
                        <p>
                            <a asp-action="Register" asp-route-returnUrl="">Registracija novog korisnika</a>
                        </p>
                    </div>
                </form>
                <br />
            </div>
        </div><br /><br /><br /><br /><br />
    </div>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            @*<div class="form-group">
            <label asp-for="Password" class="control-label"></label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
</div>

