<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Swift Claw</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css//bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
        <div class="container">
            <header>
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
                    <div class="container">
                        <a class="navbar-brand" asp-area="" asp-page="/Index">Početna</a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/O_nama">O nama</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Sop">Šop</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Slike">Slike</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" asp-area="" asp-page="/Kontakt">Kontakt</a>
                                </li>
                            </ul>
                        </div>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-0">
                                <li class="nav-item">
                                    <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCteDbLO-9Uz2YmlfNEwaSfg" style="font-size:36px; color:#bb0000"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </li>
                                <li class="nav-item">
                                    <a class="fa fa-twitch" href="" style="font-size:36px; color: #350E6E"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </li>
                                <li class="nav-item">
                                    <a class="fa fa-instagram" href="" style="font-size:36px; color: #125688"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </li>
                                <li class="nav-item">
                                    <a class="fa fa-steam-square" href="" style="font-size:36px; color: #000000"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </li>
                                <li class="nav-item">
                                    <a class="glyphicon glyphicon-shopping-cart" href="" style="font-size:36px; color: #ff6600"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </li>
                                <li class="nav-item">
                                    <a class="glyphicon glyphicon-log-in" href="" style="font-size:36px; color: #a4c639"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
        </div>


        <div class="container">
            <main role="main" class="pb-3" style="background-color:white; margin-top:-17px">
                @RenderBody()
            </main>
        </div>

        <div class="container">
            <footer>

                <div class="container text-center">
                    <a class="fa fa-youtube" href="https://www.youtube.com/channel/UCteDbLO-9Uz2YmlfNEwaSfg" style="font-size:36px; color:#bb0000"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="fa fa-twitch" href="" style="font-size:36px; color: #350E6E"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="fa fa-instagram" href="" style="font-size:36px; color: #125688"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="fa fa-steam-square" href="" style="font-size:36px; color: #000000"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="glyphicon glyphicon-shopping-cart" href="" style="font-size:36px; color: #ff6600"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a class="glyphicon glyphicon-log-in" href="" style="font-size:36px; color: #a4c639"></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <p style="margin-bottom:0px; font-size:70px; text-align:center;">
                    Srecno i zabavite se!
                </p>
                <hr>
                <div style="text-align:center">
                    &copy; 2020 - Lazar Andric - Nemanja Zagorac <a asp-area="" asp-page="/Privacy">Privacy</a>
                </div>
            </footer>
        </div>

        <!--dugme
        <button class="open-button" onclick="openForm()"><img src="slike/logo.png" height="50" width="50"></button>

        <div class="chat-popup" id="myForm">
            <form action="/action_page.php" class="form-container">
                <h1>Čet</h1>

                <label for="msg"><b>Poruka</b></label>
                <textarea placeholder="Napiši poruku..." name="msg" required></textarea>

                <button type="submit" class="btn">Pošalji</button>
                <button type="button" class="btn cancel" onclick="closeForm()">Zatvori</button>
            </form>
        </div>

            -->
        <!--<script>
            function openForm() {
                document.getElementById("myForm").style.display = "block";
            }

            function closeForm() {
                document.getElementById("myForm").style.display = "none";
            }
        </script>
            -->
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)

</body>
</html>
