<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"]</title>
    <link rel="icon" href="https://s5.gifyu.com/images/logo72fbcc5f4776d2a4.png"
          type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true">
</head>

<body style="background-image:url(https://s5.gifyu.com/images/pozadina8650a01e5ce6d2a6.png); height:100%; width:100%">


    <header class="navbar-fixed-top">
        <div class="container">
            <div class="container" style="background-color:#202020; color:white">
                <div class="row">
                    <div class="col-md-4" style="text-align:center">
                        <i class="fa fa-fw fa-envelope" aria-hidden="true"></i> swiftclawserver@gmail.com
                    </div>
                    <div class="col-md-4" style="text-align:center">
                        <i class="fa fa-phone" aria-hidden="true"></i> 063/81-920-81
                    </div>
                    <div class="col-md-4" style="text-align:center">
                        <a class="glyphicon glyphicon-log-in" aria-hidden="true" href="#" style="color:white" data-toggle="modal" data-target="#myModal"></a> Profil
                    </div>
                </div>
            </div>

            <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="border-radius:0px;">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <ul class="navbar-nav ml-auto mr-auto" style="text-align:center">
                        <li class="nav-item" style="margin-left:1em;margin-right:1em;">
                            <a class="nav-item" href="#">
                                <img src="https://s5.gifyu.com/images/logo9844754e8f83dfa4.png" alt="logo" width="50" height="50" class="img-fluidW">
                            </a>
                        </li>
                        <li class="nav-item" style="margin-left:1em;margin-right:1em;">
                            <a class="nav-link" href="/Index">Početna <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" style="margin-left:1em;margin-right:1em;">
                            <a class="nav-link" href="/O_nama">O nama</a>
                        </li>
                        <li class="nav-item" style="margin-left:1em;margin-right:1em;">
                            <a class="nav-link" href="/Sop">Šop</a>
                        </li>
                        <li class="nav-item" style="margin-left:1em;margin-right:1em;">
                            <a class="nav-link" href="/Slike">Slike</a>
                        </li>
                        <li class="nav-item" style="margin-left:1em;margin-right:1em;">
                            <a class="nav-link" href="/Kontakt">Kontakt</a>
                        </li>
                    </ul>
                    <!--<div class="social-part" style="font-size:25px">
                        <a class="fa fa-youtube" aria-hidden="true" href="https://www.youtube.com/channel/UCteDbLO-9Uz2YmlfNEwaSfg" style="color:white"></a>
                        <a class="fa fa-twitch" aria-hidden="true" href="#" style="color:white"></a>
                        <a class="fa fa-instagram" aria-hidden="true" href="#" style="color:white"></a>
                        <a class="fa fa-steam" aria-hidden="true" href="#" style="color:white"></a>
                        <a class="glyphicon glyphicon-shopping-cart" aria-hidden="true" href="#" style="color:white"></a>

                    </div>-->
                </div>
            </nav>
        </div>
    </header>



    <div class="container">
        <main role="main" class="pb-3" style="background-color:white; margin-top:90px">
            @RenderBody()
        </main>
    </div>





    <div class="container">
        <footer class="page-footer font-small stylish-color-dark pt-4" style="background-color:#343A40; color:white">
            <div class="container text-center text-md-left">
                <div class="row">
                    <div class="col-md-4 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="text-align:center">Swift Claw</h5>
                        <p>
                            Zvaničan sajt i šop orzanizacije Swift Claw. Pridružite se što pre i nabavite neki artikal
                            kako bi ste što pre bili upućeni u dešavanja i novosti.
                        </p>
                    </div>
                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-4 mx-auto">
                        <h5 class="mb-1" style="text-align:center">Pratite nas</h5><br />
                        <ul class="list-unstyled list-inline text-center">
                            <li class="list-inline-item">
                                <a class="btn-floating btn-fb mx-1" href="#" style="color:white">
                                    <i class="glyphicon glyphicon-log-in" aria-hidden="true" style="font-size:36px"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-fb mx-1" href="https://www.youtube.com/channel/UCteDbLO-9Uz2YmlfNEwaSfg" style="color:white">
                                    <i class="fa fa-youtube" aria-hidden="true" style="font-size:36px"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-tw mx-1" href="#" style="color:white">
                                    <i class="fa fa-twitch" aria-hidden="true" style="font-size:36px"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-gplus mx-1" href="#" style="color:white">
                                    <i class="fa fa-instagram" aria-hidden="true" style="font-size:36px"></i>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a class="btn-floating btn-li mx-1" href="#" style="color:white">
                                    <i class="fa fa-steam" aria-hidden="true" style="font-size:36px"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <hr class="clearfix w-100 d-md-none">
                    <div class="col-md-4 mx-auto">
                        <h5 class="font-weight-bold text-uppercase mt-3 mb-4" style="text-align:center">Linkovi</h5>
                        <ul class="list-unstyled list-inline text-center">
                            <li>
                                <a href="/Index" style="color:white;">Početna</a>
                            </li>
                            <li>
                                <a href="/O_nama" style="color:white;">O nama</a>
                            </li>
                            <li>
                                <a href="/Sop" style="color:white;">Šop</a>
                            </li>
                            <li>
                                <a href="/Slike" style="color:white;">Slike</a>
                            </li>
                            <li>
                                <a href="/Kontakt" style="color:white;">Kontakt</a>
                            </li>
                        </ul>
                    </div>
                    <hr class="clearfix w-100 d-md-none">
                    <hr class="clearfix w-100 d-md-none">
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4 mx-auto">
                    <ul class="list-unstyled list-inline text-center py-2">
                        <li class="list-inline-item">
                            <h5 class="mb-1">Registracije besplatna</h5>
                        </li>
                        <li class="list-inline-item">
                            <a href="/Registracija" class="btn btn-danger btn-rounded">Registruj se!</a>
                        </li>
                    </ul>
                </div>
            </div>
            <hr>
            <div class="footer-copyright text-center py-3">
                © 2020 Copyright: Lazar Andrić - Nemanja Zagorac
            </div>
        </footer>

    </div>

    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="card">
                    <article class="card-body">
                        <a href="/Registracija" class="float-right btn btn-outline-primary">Registracija</a>
                        <h4 class="card-title mb-4 mt-1">Prijava</h4>
                        <form>
                            <div class="form-group">
                                <label>Vaša email adresa</label>
                                <input name="" class="form-control" placeholder="Email" type="email">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <a class="float-right" href="#">Forgot?</a>
                                <label>Vaša šifra</label>
                                <input class="form-control" placeholder="******" type="password">
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <div class="checkbox">
                                    <label> <input type="checkbox"> Save password </label>
                                </div> <!-- checkbox .// -->
                            </div> <!-- form-group// -->
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-block"> Prijava  </button>
                            </div> <!-- form-group// -->
                        </form>
                    </article>
                </div> <!-- card.// -->
            </div>
        </div>
    </div>


    <script>
        baguetteBox.run('.tz-gallery');
    </script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
    @RenderSection("Scripts", required: false)



</body>
</html>
