/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */



a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}


.navigacijaboja {
    
}

    .navigacijaboja:hover {
        background-color:dimgray
        
    }

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}





.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 0px solid #343A40;
}

.border-bottom {
    border-bottom: 0px solid #343A40;
}



button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
    background-image: url("https://s1.gifyu.com/images/sajt.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.footer {
    position: fixed;
    width: 100%;
    height: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    
}

.font-sajt {
    font-family: Arial Black;
    color: black;
}

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .map-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

/*-------FILTER ZA SHOP------*/
.layout-margin-8 {
    margin: 3% 14%;
}

.card-img-top-custom {
    width: 50%;
    margin: 0 auto;
}

.card-title {
    text-align: center;
}



.card-deck {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    align-items: stretch;
}


.card {
    padding: 3% 1.5%;
    border: none;
    width:100%;
    flex-grow: 1;
}





.bg-blue {
    background-color: #005EB8;
}


/*MODAL*/
.show-cart li {
    display: flex;
}



/*DUGME Za JUmbotron*/
.dugmejumbotron {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    transition: 0.3s;
    border-radius: 12px;
}

    .dugmejumbotron:hover {
        background-color: #2E0D5F;
        color: white;
    }

.iconyt {
    color:white;
}

    .iconyt:hover {
        color:red;
    }

.iconinsta {
    color: white;
}

    .iconinsta:hover {
        color: dodgerblue;
    }

.icontwitch {
    color: white;
}

    .icontwitch:hover {
        color: #200843;
    }

.iconsteam {
    color: white;
}

    .iconsteam:hover {
        color: black;
    }

.iconcart {
    color: white;
}
    .iconcart:hover {
        color: orange;
    }

.iconregister {
    color: white;
}

    .iconregister:hover {
        color: lightskyblue;
    }
.iconlogin {
    color: white;
}

    .iconlogin:hover {
        color: forestgreen;
    }

.icondiscord {
    color: white;
}

    .icondiscord:hover {
        color: #7289da;
    }


/*GALERIJA*/

.tz-gallery {
    padding: 40px;
}

    .tz-gallery .lightbox img {
        width: 100%;
        margin-bottom: 30px;
        transition: 0.2s ease-in-out;
        box-shadow: 0 2px 3px rgba(0,0,0,0.2);
    }


        .tz-gallery .lightbox img:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 15px rgba(0,0,0,0.3);
        }

    .tz-gallery img {
        border-radius: 4px;
    }

.baguetteBox-button {
    background-color: transparent !important;
}


@media(max-width: 768px) {   

    .container.gallery-container {
        border-radius: 0;
    }
}

/*----------------------------------FILTER ZA KATEGORIJE-------------------------------------------------------*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

    .dropbtn:hover, .dropbtn:focus {
        background-color: #3e8e41;
    }

#myInput {
    box-sizing: border-box;
    background-image: url('searchicon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}

    #myInput:focus {
        outline: 3px solid #ddd;
    }

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    z-index: 998;
}

    .loader-overlay .preloader-wrapper {
        position: fixed;
        top: 50%;
    }

.filter-text {
    text-align:center
}

 /*SLIDER CENA*/
input {
    box-shadow: 0;
    outline: 0;
}

.price-slider {
    width: 200px;
    margin: auto;
    text-align: center;
    position: relative;
    height: 6em;
}

    .price-slider svg,
    .price-slider input[type=range] {
        position: absolute;
        left: 0;
        bottom: 0;
    }

input[type=number] {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    -moz-appearance: textfield;
}

    input[type=number]::-webkit-outer-spin-button,
    input[type=number]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }

    input[type=number]:invalid,
    input[type=number]:out-of-range {
        border: 2px solid #e60023;
    }

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
}

    input[type=range]:focus {
        outline: none;
    }

        input[type=range]:focus::-webkit-slider-runnable-track {
            background: #1da1f2;
        }

        input[type=range]:focus::-ms-fill-lower {
            background: #1da1f2;
        }

        input[type=range]:focus::-ms-fill-upper {
            background: #1da1f2;
        }

    input[type=range]::-webkit-slider-runnable-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animation: 0.2s;
        background: #1da1f2;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

    input[type=range]::-webkit-slider-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #1da1f2;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
        -webkit-appearance: none;
        margin-top: -7px;
    }  

    input[type=range]::-ms-track {
        width: 100%;
        height: 5px;
        cursor: pointer;
        animation: 0.2s;
        background: transparent;
        border-color: transparent;
        color: transparent;
    }

    input[type=range]::-ms-fill-lower,
    input[type=range]::-ms-fill-upper {
        background: #1da1f2;
        border-radius: 1px;
        box-shadow: none;
        border: 0;
    }

    input[type=range]::-ms-thumb {
        z-index: 2;
        position: relative;
        box-shadow: 0px 0px 0px #000;
        border: 1px solid #1da1f2;
        height: 18px;
        width: 18px;
        border-radius: 25px;
        background: #a1d0ff;
        cursor: pointer;
    }

    /*LOADER*/

.form-controll {
    width:20%;   
}



* {
    box-sizing: border-box;
}

.zoom {
    
    transition: transform .2s;
   
}

    .zoom:hover {
        -ms-transform: scale(1.2); /* IE 9 */
        -webkit-transform: scale(1.2); /* Safari 3-8 */
        transform: scale(1.2);
    }

.zoom1 {
    transition: transform .2s;
}

    .zoom1:hover {
        -ms-transform: scale(1.4); /* IE 9 */
        -webkit-transform: scale(1.4); /* Safari 3-8 */
        transform: scale(1.4);
    }

.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

    .video-responsive iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }

.flip-box {
    background-color: transparent;
    width: 250px;
    height: 400px;   
    perspective: 1000px;
}


.flip-box1 {
    background-color: transparent;
    width: 300px;
    height: 400px;
    perspective: 1000px;
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

@media screen and (min-width:1024px) and (max-width:1024px) {
    .flip-box-inner {
        width:90%
    }
}


.flip-box-inner1 {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

@media screen and (min-width:1024px) and (max-width:1024px) {
    .flip-box-inner1 {
        width: 90%
    }
}

@media screen and (min-width:320px) and (max-width:320px) {
    .flip-box-inner1 {
        width: 80%
    }
}

.flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front {
    background-color: #78649E;
    color: black;
}

.flip-box-back {
    background-color: #78649E;
    color: white;
    transform: rotateY(180deg);
}

.kartice-boja {
    background-color: #78649E;
}

.flip-box1:hover .flip-box-inner1 {
    transform: rotateY(180deg);
}

.flip-box-front1, .flip-box-back1 {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-box-front1 {
    background-color: #78649E;
    color: black;
}

.flip-box-back1 {
    background-color: #78649E;
    color: white;
    transform: rotateY(180deg);
}

.kartice-boja {
    background-color: #78649E;
}

.card-space {  
    padding-top: 16px;
}



.dropdown-submenu {
    position: relative;
}

    .dropdown-submenu .dropdown-menu {
        top: 0;
        left: 100%;
        margin-top: -1px;
    }


.mapa {
    width: 100%;
    height: 500px;
}

.forma {
    display:block;
}

/*-------------------------------------------------------------*/
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

/* Style the label to display next to the inputs */




/* Floating column for inputs: 100% width */
.col-100 {
    float: left;
    width: 100%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-100, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.dropdown-moj {
    width:100%;
    background-color:white;

}

form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
}

form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

    form.example button:hover {
        background: #0b7dda;
    }

form.example::after {
    content: "";
    clear: both;
    display: table;
}

/*.dugmeProizvod1 {
    background-color: #555555;
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.dugmeProizvod {
    background-color: white;
    color: black;
    border: 2px solid #555555;
}

    .dugmeProizvod:hover {
        background-color: #555555;
        color: white;
    }*/

.mejn {
    position: relative;
    width: 1120px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0px -5px 49px 0px rgba(0, 0, 0, 0.5);
}


@media screen and (max-width: 1024px) {
    .mejn {
        width: 100%;
        box-shadow: none;
    }
}

.clearfix {
    display: block;
}


.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.razmak {
    margin-top:20%
}

