@page
@model Undergraduate_thesis.SlikeModel
@{
    ViewData["Title"] = "Slike";
}

<h1>Slike</h1>

<div class="container gallery-container">
    <div class="tz-gallery">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <a class="lightbox" href="https://s5.gifyu.com/images/IMG-20191207-WA0014.jpg">
                    <img src="https://s5.gifyu.com/images/IMG-20191207-WA0014.jpg" alt="Bridge">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://s6.gifyu.com/images/IMG-20191207-WA0008.jpg">
                    <img src="https://s6.gifyu.com/images/IMG-20191207-WA0008.jpg" alt="Park">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://s6.gifyu.com/images/IMG_20191207_112344.jpg">
                    <img src="https://s6.gifyu.com/images/IMG_20191207_112344.jpg" alt="Tunnel">
                </a>
            </div>
            <div class="col-sm-12 col-md-8">
                <a class="lightbox" href="https://s5.gifyu.com/images/IMG_20191208_180520.jpg">
                    <img src="https://s5.gifyu.com/images/IMG_20191208_180520.jpg" alt="Traffic" height="500">
                </a>
            </div>
            <div class="col-sm-6 col-md-4">
                <a class="lightbox" href="https://s6.gifyu.com/images/IMG_20191208_183750.jpg">
                    <img src="https://s6.gifyu.com/images/IMG_20191208_183750.jpg" alt="Coast" height="500">
                </a>
            </div>
        </div>
    </div>
</div>

